$white : #fffff4;
$orange : #ff2a00;
$black : #111111;

// CSS resets
#root {
    width: 100%;
    margin: 0;
    padding: 0;
}
* {
    margin: 0;
    padding: 0;
    font: inherit;
    scroll-behavior: smooth;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: initial;

    &:hover {
        color: initial;
    }
}
i {
    display: inline-block;
}
ol,
ul {
    padding-left: 0 !important;
    margin-bottom: 0 !important;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
img,
svg,
video,
picture {
    display: block;
    max-width: 100%;
    &::selection {
        background-color: transparent;
    }
    &::-moz-selection {
        background-color: transparent;
    }
}
html {
    font-size: 16px;
}
body {
    overflow-x: hidden;
    font-family: "Lato", serif;
    display: grid;
    place-items: center;
    min-height: 100vh;
    background-color: $black;
    color: $white;
}

// buttons
button {
    border: none;
    outline: none;
    background-color: transparent;
    &:not(:disabled) {
        cursor: pointer;
    }
}
.btn {
    display: inline-block;
}
.btn-primary {
    background-color: $orange;
    color: $white;
    padding: .5rem 1.5rem;
    font-size: 2rem;
    font-weight: 700;
    border-radius: 8px;
    border: 4px solid transparent;
    transition: .4s;
    &:hover {
        border: 4px solid $orange;
        background-color: transparent;
    }
}

// Containers
.container {
    max-width: 1400px;
    width: 80%;
    margin: 0 auto;
}

// Page Styling
.counterWrapper {
    text-align: center;
}
.counterHead {
    font-size: 5rem;
}
.counter {
    font-size: 4rem;
    margin: 1rem 0;
}
.btnContainer {
    display: flex;
    gap: 1rem;
    justify-content: center;
}
